body{
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}
button{
    padding: 20px;
    font-size: 1.5rem;
    color: white;
    margin: 1px;
    background-color: red;
    /* box-shadow: 2px 2px #888888;
    width: 50px; */
}
input{
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
    text-align: center;
    width: 90%;
}
input::placeholder{
    color: transparent;
}
label{
    color: black;
    align-self: flex-start;
}
th{
    background-color: #226666;
    color: white;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}  
#resultado{
    flex: 0;
    margin: 0;
    padding: 50px;
}
#input-area{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
#imc{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}
