*{
	margin:0;
	padding:0;
	font-family: arial;
}

body{
	background-color: #0D1117;
}
.imc{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15vh;
}

#result{
	color: #6a5fe2;
}
.imc input, label{
	margin: 15px 0;
}

label{
	font-size: 22px;
	color: white;
	font-weight: bold;
}

input{
	padding: 18px;
	border-radius: 20px;
	text-align: center;
	font-size: 14px;
}

button{
	width: 130px;
	height: 60px;
	color: white;
	background-color: crimson;
	font-size: 18px;
	font-weight: bolder;
	border-radius: 17px;
}

button:hover{
	background-color: white;
	color: crimson;
	cursor: pointer;
}

.imc a{
	margin: 12px 0;
	text-decoration: none;
	color: white;
	font-size: 20px;
}

.imc a:hover{
	color: #35f23e;
}